#home
  %section.video-section
    .video= video_tag '/videos/2019_reel.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true

  %section.howdy.pt-4.pb-4
    .row
      .column.sm-12.lg-3.lg-offset-1(data-aos='fade-right')
        %h2.heading.copy-color.uppercase.fz-32 Howdy
      .column.sm-12.lg-8(data-aos='fade-left')
        %h2.heading.copy-color.fz-56
          You've come to the right place. TIBBS is a Full -
          Thinking/
          %br.md-hide
          Creating/DOING Production Studio

  %section.featured-work
    .row
      .column.text-center
        %h2.heading.accent-color.fz-32 Featured Work
    .row.mt-3
      .column.sm-12.md-6.mb-2.poster(data-aos='fade-right')
        = link_to work_path(anchor: 'ram') do
          = image_tag 'work/ram_poster.jpg'
          .preview= video_tag "/videos/previews/pumpkin_farm.mp4", autoplay: true, loop: true, controls: false, muted: true, playsinline: true
          %h3.heading.pt-1
            .copy-color Maxwell's Pumpkin Farm
            .accent-color Ram Trucks

      .column.sm-12.md-6.mb-2.poster(data-aos='fade-left')
        = link_to work_path(anchor: 'blackkeys') do
          = image_tag 'work/blackkeys_poster.jpg'
          .preview= video_tag '/videos/previews/blackkeys.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
          %h3.heading.pt-1
            .copy-color Go
            .accent-color The Black Keys

      .column.sm-12.md-6.mb-2.poster(data-aos='fade-right')
        = link_to work_path(anchor: 'biolite') do
          = image_tag 'work/biolite_poster.jpg'
          .preview= video_tag "/videos/previews/biolite.mp4", autoplay: true, loop: true, controls: false, muted: true, playsinline: true
          %h3.heading.pt-1
            .copy-color A Runner's Story
            .accent-color BioLite

      .column.sm-12.md-6.mb-2.poster#bell-tire(data-aos='fade-left')
        = link_to work_path(anchor: 'bell-tire') do
          = image_tag 'work/bt_audio_poster.jpg'
          .preview= video_tag '/videos/previews/belle_tire.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
          %h3.heading.pt-1
            .copy-color Website Re-Brand
            .accent-color Belle Tire

      .column.sm-12.md-6.mb-2.poster(data-aos='fade-right')
        = link_to work_path(anchor: 'ram-o-lantern') do
          = image_tag 'work/ram-o-lantern_poster.jpg'
          .preview= video_tag '/videos/previews/ram-o-lantern.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
          %h3.heading.pt-1
            .copy-color Ram-O-Lantern
            .accent-color Ram

      .column.sm-12.md-6.mb-2.poster(data-aos='fade-left')
        = link_to work_path(anchor: 'minihorse') do
          = image_tag 'work/mini_horse_poster.jpg'
          .preview= video_tag '/videos/previews/minihorse.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
          %h3.heading.pt-1
            .copy-color Summer Itch
            .accent-color Mini Horse
      .column.text-center
        %p.mt-2.fz-24= link_to 'See More', work_path, class: 'accent-color uppercase'

  %section.full-page.studio.mt-4.vert-center
    .row
      .column.lg-6.text-center.lg-text-left(data-aos='fade-right')
        %h2.heading.white.fz-72 Studio
        %p.copy.white.fz-24 Welcome to the freshly renovated 1912 Duffey building which offers two full-service edit bays, as well as complete client service provisions. Tibbs will take your project from inception to final delivery – Soup to nuts as they say!
        = link_to 'Learn More', info_path, class: 'btn white mt-2 mb-2'

  %section.full-page.directors.vert-center
    .row
      .column.text-center(data-aos='fade-up')
        %h2.heading.white.fz-72 Directors
        %p.copy.white.fz-24 Meet our team
        = link_to 'Learn More', directors_path, class: 'btn white mt-2 mb-2'
