#info
  %section.header
    .row
      .column
        %h1.heading.fz-72.white Info

  %section.studio
    .row.pt-4.pb-4
      .column.sm-12.lg-3.lg-offset-1(data-aos='fade-right')
        %h2.heading.copy-color.uppercase Studio
      .column.sm-12.lg-8(data-aos='fade-left')
        %h2.heading.copy-color.fz-56 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    .row
      .column.lg-6.pb-3(data-aos='fade-right')= image_tag 'studio/studio10.jpg', class: 'width-100'
      .column.lg-6.pb-3(data-aos='fade-left')= image_tag 'studio/studio14.jpg', class: 'width-100'
      .column.lg-8.lg-offset-4.pb-3(data-aos='fade-left')
        %p.copy.copy-color.fz-24 Tibbs is a full-service content creation company. What does this mean? Simply put, we create. We work with clients and agencies nationwide to bring their concepts to life. Whether they need help with the inception of an idea for their brand, or they need a production brought to life. We work with a Rolodex of creatives to curate a hand-picked team per project. We handle video production, editorial, photography, animation, experiential, and more. Welcome to Tibbs.
      .column.pb-3.lg-6(data-aos='fade-right')= image_tag 'studio/studio6.jpg', class: 'width-100'
      .column.pb-3.lg-6(data-aos='fade-left')= image_tag 'studio/studio1.jpg', class: 'width-100'

  %section#contact.pb-3.pt-3
    .row.mb-3
      .column.sm-12.lg-3.lg-offset-1
        %h2.heading.copy-color.uppercase Contact Us
    = form_for :contact, url: contact_index_path, remote: true do |f|
      = f.invisible_captcha :subtitle
      .row
        .column.md-5.md-offset-1
          = f.text_field :name, placeholder: 'Name*', class: 'mt-1 mb-1', required: true
        .column.md-5
          = f.email_field :email, placeholder: 'Email*', class: 'mt-1 mb-1', required: true
        .column.md-10.md-offset-1
          = f.text_area :message, placeholder: 'Message*', class: 'mt-1 mb-1', required: true
        .column
          .text-center
            = f.submit 'Send', class: 'btn orange'
