#work
  %section.header
    .row
      .column
        %h1.heading.fz-72.white Our Work

  %section.videos
    .row.mt-3
      .column.sm-12.md-6.mb-2.poster#tremor(data-aos='fade-right'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/tremor.mp4' } }
        = image_tag 'work/tremor_poster.png'
        .preview= video_tag "/videos/previews/tremor.mp4", autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color F-150 Tremor
          .accent-color Ford

      .column.sm-12.md-6.mb-2.poster#hennessey_venom(data-aos='fade-left'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/hennessey_venom.mp4' } }
        = image_tag 'work/hennessey_venom_poster.png'
        .preview= video_tag '/videos/previews/hennessey_venom.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Venom
          .accent-color Hennessey

      .column.sm-12.md-6.mb-2.poster#blackkeys(data-aos='fade-right'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/blackkeys.mp4' } }
        = image_tag 'work/blackkeys_poster.jpg'
        .preview= video_tag '/videos/previews/blackkeys.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Go
          .accent-color The Black Keys

      .column.sm-12.md-6.mb-2.poster#bcbs_here_for_it_all(data-aos='fade-left'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/bcbs_here_for_it_all.mp4' } }
        = image_tag 'work/bcbs_here_for_it_all_poster.png'
        .preview= video_tag '/videos/previews/bcbs_here_for_it_all.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Here For It All
          .accent-color BCBS

      .column.sm-12.md-6.mb-2.poster#ford_wi(data-aos='fade-right'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/ford_wi.mp4' } }
        = image_tag 'work/ford_wi_poster.png'
        .preview= video_tag '/videos/previews/ford_wi.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color The Women's Initiative
          .accent-color Ford Amara

      .column.sm-12.md-6.mb-2.poster#biolite(data-aos='fade-left'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/biolite.mp4' } }
        = image_tag 'work/biolite_poster.jpg'
        .preview= video_tag "/videos/previews/biolite.mp4", autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color A Runner's Story
          .accent-color BioLite

      .column.sm-12.md-6.mb-2.poster#ram(data-aos='fade-right'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/ram.mp4' } }
        = image_tag 'work/ram_poster.jpg'
        .preview= video_tag "/videos/previews/pumpkin_farm.mp4", autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Maxwell's Pumpkin Farm
          .accent-color Ram Trucks

      .column.sm-12.md-6.mb-2.poster#bell-tire(data-aos='fade-left'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/bt_audio.mp4' } }
        = image_tag 'work/bt_audio_poster.jpg'
        .preview= video_tag '/videos/previews/belle_tire.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Website Re-Brand
          .accent-color Belle Tire

      .column.sm-12.md-6.mb-2.poster#ram-o-lantern(data-aos='fade-right'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/ram-o-lantern.mp4' } }
        = image_tag 'work/ram-o-lantern_poster.jpg'
        .preview= video_tag '/videos/previews/ram-o-lantern.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Ram-O-Lantern
          .accent-color Ram

      .column.sm-12.md-6.mb-2.poster#minihorse(data-aos='fade-left'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/mini_horse.mp4' } }
        = image_tag 'work/mini_horse_poster.jpg'
        .preview= video_tag '/videos/previews/minihorse.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Summer Itch
          .accent-color Mini Horse

      .column.sm-12.md-6.mb-2.poster#rocket(data-aos='fade-right'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/rocket.mp4' } }
        = image_tag 'work/my_chevy_is_a_rocket_poster.jpg'
        .preview= video_tag '/videos/previews/chevy_rocket.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color My Chevy Is A Rocket
          .accent-color Chevrolet

      .column.sm-12.md-6.mb-2.poster#pumpkin-wall(data-aos='fade-left'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/pumpkin_wall.mp4' } }
        = image_tag 'work/pumpkin_wall_poster.jpg'
        .preview= video_tag '/videos/previews/pumpkin_wall.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Pumpkin Wall
          .accent-color Ram

      .column.sm-12.md-6.mb-2.poster#city-on-a-hill(data-aos='fade-right'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/bcbsm.mp4' } }
        = image_tag 'work/bcbs_city_on_a_hill_poster.jpg'
        .preview= video_tag '/videos/previews/city_on_hill.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color City On A Hill
          .accent-color BCBSM

      .column.sm-12.md-6.mb-2.poster#mike(data-aos='fade-left'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/amator.mp4' } }
        = image_tag 'work/amator_poster.jpg'
        .preview= video_tag '/videos/previews/amator.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Amator
          .accent-color Montum

      .column.sm-12.md-6.mb-2.poster#mike(data-aos='fade-right'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/mcdonalds.mp4' } }
        = image_tag 'work/mcdonalds_poster.jpg'
        .preview= video_tag "/videos/previews/mcdonalds.mp4", autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color McDonald's
          .accent-color McDonald's

      .column.sm-12.md-6.mb-2.poster#gymboree(data-aos='fade-left'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/gymboree.mp4' } }
        = image_tag 'work/gymboree_poster.jpg'
        .preview= video_tag '/videos/previews/gymboree.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Oceaniac Preservation Society
          .accent-color Gymboree

      .column.sm-12.md-6.mb-2.poster#mike(data-aos='fade-right'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/jeep_compass.mp4' } }
        = image_tag 'work/jeep_compass_poster.jpg'
        .preview= video_tag '/videos/previews/jeep_compass.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Compass
          .accent-color Jeep

      .column.sm-12.md-6.mb-2.poster#dr-daniels(data-aos='fade-left'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/bcbsm_2.mp4' } }
        = image_tag 'work/bcbs_dr_daniels_poster.jpg'
        .preview= video_tag '/videos/previews/healthy_communities.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Building Healthy Communities
          .accent-color BCBSM

      .column.sm-12.md-6.mb-2.poster#mike(data-aos='fade-right'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/detroit_country_music.mp4' } }
        = image_tag 'work/detroit_country_music_poster.jpg'
        .preview= video_tag '/videos/previews/country_music.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Ken Burns Country Music
          .accent-color Detroit Country Music

      .column.sm-12.md-6.mb-2.poster#mike(data-aos='fade-left'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/mike_the_barber.mp4' } }
        = image_tag 'work/mike_poster.jpg'
        .preview= video_tag '/videos/previews/mike.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Mike The Barber
          .accent-color Tibbs

      .column.sm-12.md-6.mb-2.poster#jeep-4x4(data-aos='fade-right'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/jeep_day.mp4' } }
        = image_tag 'work/jeep_4x4_poster.jpg'
        .preview= video_tag '/videos/previews/jeep_day.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color 4x4 Day
          .accent-color Jeep

      .column.sm-12.md-6.mb-2.poster#unmelting(data-aos='fade-left'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/jeep_unmelting.mp4' } }
        = image_tag 'work/unmelting_poster.jpg'
        .preview= video_tag '/videos/previews/jeep_unmelting.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Unmelting
          .accent-color Jeep

      .column.sm-12.md-6.mb-2.poster#mike(data-aos='fade-right'){ data: { url: 'https://tibbs-videos.s3.us-east-2.amazonaws.com/videos/trackhawk.mp4' } }
        = image_tag 'work/trackhawk_poster.jpg'
        .preview= video_tag '/videos/previews/jeep_trackhawk.mp4', autoplay: true, loop: true, controls: false, muted: true, playsinline: true
        %h3.heading.pt-1
          .copy-color Trackhawk Santa
          .accent-color Jeep

  #video-player

:javascript
    let src

    function callVideo(src) {
      $.ajax({
        dataType: "script",
        type:    "GET",
        url:     "/video-player",
        data:    { src: src },
        success: function(post){ console.log('success') },
        error:   function(post){ console.log('error') }
      })
    }

    if (window.location.hash) {
      src = $(window.location.hash).data('url')
      callVideo(src)
    }

    $('.poster').click(function(e) {
      src = $(this).data('url')
      callVideo(src)
    })
